<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/default"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hello</title>
</head>

<body>
    <div>
        <p>Hello So 이것 저것 Test World</p>
    </div>

    <input type="text" name="text">

    <button id="send" onclick="socket.send('hi')">메세지 보내기</button>





<script>
    let socket = new WebSocket("ws://localhost:8003")

    // let text =
</script>
</body>
</html>